:root {
	--basic-red: #ee3643;
	--basic-green: #63a63e;
	--basic-cian-blue: #32425C;
	--almost-black-blue: #161D29;
	--black: #000000;
	--white: #ffffff;
	--special-yellow: #ffbf47;
	--special-blue: #3bbce3;
	--special-lilac: #dc91d8 ;
	--special-lightgreen: #8ed78f;
	--special-hover-red: #ca2c37;
	--special-active-red: #bA2732;
	--dark-cyan-blue: #293449;
	--border-grey: #eaeaea;
	--background-linen: #f9f5f0;
	--light-grey: #a9a9a9;
	--extra-light-grey: #c5c5c5;
	--super-extra-light-grey: #e5e5e5;
	--basic-background: #f1f5f7;
	--dark-grey: #888888;
	--special-light-yellow: #ffd180;
	--extra-dark-cyan-blue: #293449;
	--slider-background: rgba(0, 0, 0, 0.0001);
	--logo-shadow-red: rgba(0, 0, 0, 0.24);
	--beige: #f7f3ec;
	--super-extra-dark-blue: #212a3a;
	--almost-white-grey: #f2f6f8;
	--toggle-grey: #ababab;
	--slider-opacity: rgba(0, 0, 0, 0.25);
	--grass: #367315;
	--salad: #5FBB2D;
	--dirty-grass: #518534;
	--login-grey: #3D546F;
	--icon-right-grey: #c1c6ce;
	--black-shadow: rgba(0, 0, 0, 0.15);
	--scale-grey: #d7dcde;
	--scale-green: #00ca74;
	--smoke-white: #f4f4f4;
	--sea-shell: #f1f1f1;
}

body,
html {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: Cuprum, Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  color: var(--black);
  background-color: var(--white);
  background-position: top center;
  background-repeat: no-repeat;
}

a {
	text-decoration: none;
	color: var(--white);
}

img {
  max-width: 100%;
  height: auto;
}

input[type="search"]::-webkit-input-placeholder { color: var(--white);}
input[type="search"]:-moz-placeholder {color: var(--white)}
input[type="search"]::-moz-placeholder { color: var(--white);}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { 
	display: none; 
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.visual-hidden {
	visibility: hidden;
}

.visually-hidden:not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
 	position: absolute;
  	width: 1px;
  	height: 1px;
  	margin: -5px;
  	border: 0;
  	padding: 0;
  	white-space: nowrap;
  	clip-path: inset(100%);
  	clip: rect(0 0 0 0);
  	overflow: hidden;
}

/*Grid*/

.page-body {
  display: grid;
  grid-template-rows: min-content 1fr min-content; 
  align-content: start;
}

.page-catalog-body {
	display: grid;
	grid-template-rows: min-content 1fr min-content;
	align-content: start;

}

.promo-list {
	display: grid;
	grid-template-columns: 300px 300px 300px;
	grid-template-rows: 123px 123px 123px;
	grid-gap: 20px;
}

.promo-list .slider-box {
	grid-column: 1 / 3;
	grid-row: 2 / 4;
}

.product-list {                  
	display: grid;
  	grid-template-columns: 220px 220px 220px 220px;
  	grid-gap: 20px;
 }

/*Styles*/
.page {
  height: 100%;
}

.page-body,
.page-catalog-body {
	min-height: 100%;
}

.container {
	width: 940px;
	margin: 0 auto;
	padding: 0 10;
}


/*buttons*/

.button {
	display: flex; 
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	/*ext-overflow: ellipsis;
	white-space: nowrap;*/
	font-family: Cuprum, Arial, sans-serif;
	font-size: 14px;
	line-height: 18px;
	min-height: 38px;
	font-weight: normal;
 	font-style: normal;
  	text-transform: uppercase;
  	color: var(--white);
  	border: none;
}

.red-button  {
	background-color: var(--basic-red);
}


.red-button:hover,
.red-button:focus { 
	background-color: var(--special-hover-red);
}


.red-button:active {
	background-color: var(--special-active-red);
}


/*Заголовки*/ 

.section-heading {
 	font-family: inherit;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
}

/*Header*/

.main-header {
	padding-bottom: 59px;
 	font-size: 18px;
	font-weight: normal;
	background-color: var(--basic-background);
	margin-bottom: 21px;
}


.top-header-bar {
  	background-color: var(--extra-dark-cyan-blue);
 	height: 42px;
 	margin-bottom: 46px;
 }

.top-header-block {
	display: flex;
	flex-wrap: wrap;
	background-color: var(--basic-background);
	color: white;
	padding: 0;
	
}

.logo-wrapper {
	width: 220px;
	height: 47px;
	text-align: center;
	background: var(--basic-red);
	box-shadow: inset 0px -5px 0px var(--logo-shadow-red);
}



.logo img{
	padding: 12px 56px 17px 56px;
	
}

/*.logo::before {
	content: "";
	display: block;
	position: absolute;
	width: 220px;
	height: 47px;
	text-align: center;
	background: var(--basic-red);
	box-shadow: inset 0px -5px 0px var(--logo-shadow-red);
}*/

.logo:focus {
	outline: none;
	background-color: var(--special-active-red);

}

.logo img:active {
	background-color: var(--special-active-red);
}


.search-form {
	position: relative;
}

.header-search {
	position: relative;
	min-height: 42px;
	width: 270px;
	padding: 0;
	padding-left: 42px;
	background-color: var(--extra-dark-cyan-blue);
	border: none;
	font-size: 18px;
	font-family: inherit;
	color: var(--black);
	cursor: pointer;
}

.header-search + label  {
	position: absolute;
  	top: 12px;
  	left: 17px;
 }


 .search-label path {
 	
 	opacity: 30%;
 }

.header-search:hover {
	outline: none;
}

.header-search:hover + .search-label path {
	opacity: 1;
}

.header-search:focus {
	background-color: var(--white);
	outline: none;
}

.header-search:focus + .search-label path {
	fill: var(--basic-red);
}

.order-list {
	display: flex;
	flex-wrap: wrap;
	width: 450px;
	list-style: none;
	margin: 0;
	padding: 0;
 }

.order-item  {
	height: 42px;
	display: flex;
	width: 150px;
	align-items: center;
	justify-content: center;
	border: none;
	background-color: var(--extra-dark-cyan-blue);
	text-align: center;
	overflow: clip;
	
}


.bookmarks::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 16px;
  left: 20px;
  top: 13px;
  background: url("../img/bookmarks-icon.svg") no-repeat 0 0;
  opacity: 30%;

}

.basket::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  left: 26px;
  top: 13px;
  background: url("../img/basket-icon.svg") no-repeat 0 0;
  opacity: 30%;

}

.bookmarks,
.basket  {
	position: relative;
	width: 105px;
}

.bookmarks {
	padding: 9px 24px 9px 43px;
}

.basket {
	padding: 9px 26px 9px 49px;
}

.bookmarks:hover::before,
.bookmarks:focus::before,
.basket:hover::before,
.basket:focus::before {
	opacity: 1;
}

.bookmarks:active {
	background-color: var(--almost-black-blue);
}

.basket:active {
	opacity: 30%;
}


.order-button {
	width: 150px;
	background-color: var(--basic-green);
}

.order-button a{
	padding: 9px 16px;
	width: 100%;
	
}

.order-button a:hover,
.order-button a:focus {
	background-color: var(--salad);
	outline: none;
}

.order-button a:active {
	opacity: 50%;
}

.middle-bottom-header-bar {
	background-color: var(--basic-background);
}

.middle-header-block {
	display: flex;
	justify-content: space-between;
	padding-bottom: 25px;
}

.header-heading p,
.contacts-header p,
.phone-number p,
.adress p {
	padding: 0;
	margin: 0;
}

.header-heading {
	font-size: 16px;
	padding: 0;
	margin: 0;
	font-weight: normal;
	font-style: italic;
	color: var(--basic-red);
	line-height: 23px; 
	margin-left: 30px;
}

.contacts-header {
	max-width: 270px;
	margin-left: 30px;
	text-overflow: wrap; 
 }

.phone-number {
	width: 264px;
	height: 39px;
	font-weight: bold;
	font-size: 21px;
	line-height: 30px;
	color: var(--basic-red);
	background-image: url("../img/icon-phone.svg");
	background-repeat: no-repeat;
	background-position:  40px 50%;
	border: 3px solid var(--white);
}

.phone-number p {
	padding: 0;
	margin: 0;
	padding-left: 74px;
	padding-top: 7px;

}

.adress {
	font-size: 14px;
	line-height: 24px;
	color: var(--basic-cian-blue);
	margin-top: 3px;
	text-align: center;
}

.user-block {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	height: 45px;
	
}

.user-block a {
	display: block;
	background-color: white;
	color: var(--black);
	padding-top: 12px;
	padding-bottom: 12px;
}

.user-login span{
	margin-left: 7px;
}

.user-account {
	font-size: 21px;
	line-height: 21px;
	font-weight: 400;
	text-align: center;
	
}
.user-login {
	position: relative;
	width: 121px;
	margin-right: 10px;
}

.user-login svg {
	position: absolute;
	left: 19px;
	top: 14px;
}

.user-login span {
	padding-left: 19px;
}

.user-registration {
	width: 150px;
}
	
.user-login:hover path {
	fill: var(--basic-red);
}
.user-account:hover {
	color: var(--basic-red);
}

.user-account:active {
	color: var(--extra-light-grey);
}
.user-login:active path {
	fill: var(--extra-light-grey);
}

.main-navigation {
	background: var(--basic-cian-blue);
	box-shadow: inset 0px -5px 0px var(--extra-dark-cyan-blue); /*************/
	min-height: 60px;
	font-size: 18px;
	font-weight: 400;
  }

.navigation-list {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
  	list-style: none;
  	padding: 0;
  	margin-right: 32px;
  	margin-left: 27px;
 }


.navigation-item {
	padding-top: 16px;
}

.navigation-item a {
	padding: 16px 20px 20px 20px;
}


.navigation-item a:hover { 
	background-color: #293449;
	opacity: 0.5;

}

/*Промо*/

.promo-list {
	list-style: none;
	padding: 0;
	margin: 0;
	margin-top: 38px;
  	margin-bottom: 59px;
	color: var(--white);
}

.promo-box {
	width: 300px;
	height: 123px;
}

.promo-box h3 {
	font-size: 24px;
	font-weight: bold;
	line-height: 30px;
	margin: 0;
	padding: 0;
	margin-left: 23px;
	margin-top: 20px;
	margin-bottom: 14px;
	max-width: 200px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.transparent-button {
	width: 135px;
	height: 38px;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-left: 23px;
	background-color: rgba(255,255,255,0.3);
}

.transparent-button {
	color: white;
}

.transparent-button:hover {
	background-color: var(--extra-light-grey);
}

.transparent-button:active {
	background-color: var(--light-grey);
}

.promo-materials {
	position: relative;
	background: var(--special-yellow) url("../img/materials-icon.png") no-repeat 213px center;
}

.promo-materials::after {
	content: "";
	position: absolute;
	background-image: url("../img/new.png");
	background-repeat: no-repeat;
	top: 0;
	right: 0;
	width: 70px;
	height: 70px;
}

.promo-instruments {
	background: var(--special-blue) url("../img/instruments-icon.png") no-repeat 194px center;
}

.promo-technics {
	background: var(--special-lilac) url("../img/technics-icon.png") no-repeat 191px center;
}


.promo-discounts {
	background: var(--special-lightgreen) url("../img/discounts-icon.png") no-repeat 196px center;
}

.promo-delivery {
	background: var(--special-yellow) url("../img/delivery-icon.png") no-repeat 191px center;
}

/*Слайдер */

.slider-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.slider-box {
	width: 620px;
	height: 266px;
	background-color: var(--light-grey);
	position: relative;
}

.promo-slide {
	position: absolute;
	width: 100%;
	height: 100%;
}

.text-slider {
	position: absolute;
	width: 100%;
	height: 104px;
	background-color: var(--slider-opacity);
}

.slide-1 {

	background: var(--light-grey) url("../img/slider-rock-drill.jpg") no-repeat;
}

.slide-2 {

	background: var(--light-grey) url(../img/slider-drill.jpg) no-repeat;
}

.slide-heading {
	font-weight: 700;
	font-size: 36px;
	line-height: 36px;
	margin: 0;
	margin-left: 24px;
	margin-top: 23px;
	padding: 0;
	text-transform: uppercase;
}

.promo-slide p {
	padding: 0;
	margin: 0;
	margin-left: 24px;
	margin-top: 5px;
	font-weight: normal;
	font-size: 18px;
	line-height: 24px;
}

.catalog-button a{
	position: absolute;
	width: 192px;
	left: 24px;
	bottom: 27px;
}

.slide-current {
  display: block;
}

.slider-controls {
	position: absolute;
	bottom: 36px;
	left: 295px;
	z-index: 2;
	display: flex;
	width: 30px;
	justify-content: space-between;
}

.slider-control {
  padding: 0;
  width: 10px;
  height: 10px;
  background-color: var(--white);
  border: 2px solid var(--white);
  border-radius: 50%;
  cursor: pointer;
}

.slider-control-current {
  background-color: var(--basic-red);
}

.promo-slide {
  display: none;
}


.slider-arrows {
	position: absolute;
	top: 122px;
	z-index: 3;
	display: flex;
	width:  620px;
	justify-content: space-between;
}

.slider-arrow {
	position: relative;
	visibility: hidden;
}

.slider-arrow-left {
	margin-left: 24px;
}

.slider-arrow-right {
	margin-right: 24px;
}

.slider-arrow-left::after,
.slider-arrow-right::after {
	content: "";
  	position: absolute;
  	display: block;
  	top: 0;
  	z-index: 4;
  	background-image: url("../img/icon-left.svg");
  	background-repeat: no-repeat;
  	width: 21px;
 	height: 38px;
 	cursor: pointer;
 	visibility: visible;

}

.slider-arrow-left::after {
	left: 3px;
}

.slider-arrow-right::after {
	right: 3px;
	transform: rotate(180deg);
}

.popular {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 89px;
	margin-bottom: 20px;
	background-color: var(--background-linen);
}

.popular h2 {
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 30px;
	margin: 0;
	padding: 0;
	margin-left: 28px;
}

.popular .button {
	margin-right: 14px;
	width: 192px;
	
}

/*Карточки*/

.product-list { 
	margin: 0 auto;
  	padding: 0;
  	list-style: none;
    margin-bottom: 70px; 
}
 
.product-item {
	position: relative;
	display: grid; 
	grid-template-rows: 170px 1fr;
	width: 218px;
	min-height: 318px;
	font-family: "PT Sans", Arial, sans-serif;
	font-style: normal;
	font-weight: bold;
	background-color: inherit;
	text-align: center;
	border: 1px solid var(--border-grey);
}

.image-block {
	width: 218px;
	position: relative;
	align-self: center;

}

.image-block img {
	 object-fit: cover;
	z-index: 20;
}

.new::after {
	content: "";
	position: absolute;
	background-image: url("../img/new.png");
	background-repeat: no-repeat;
	top: 0;
	right: 0;
	width: 70px;
	height: 70px;
	z-index: 3;
}

.product-title {
	width: 185px;
	text-align: center;
	align-self: center;
	margin: 0;
	padding: 0;
	margin-left: 18px;
	margin-bottom: 7px;
	font-size: 18px;
	line-height: 20px;
}

.red-price {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 121px;
	height: 38px;
	color: var(--white);
	margin-bottom: 21px;
	background-color: var(--basic-red);
	border-radius:  5% 0 0 5%;
	margin-left: 45px;
	z-index: 2;
}

.red-price::after {
	content: "";
	position: absolute;
	width: 26px;
	height: 26px;
	right: -13px;
	top: 6px;
	background-color: var(--basic-red);
	outline: 2px solid transparent;
	transform: rotate(45deg);
	z-index: -1;

}

.old-price,
.new-price {
	font-size: 17px;
	line-height: 18px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.new-price {
	padding: 10px;
}

.old-price {
	width: 141px;
	margin-left: 45px;
	color: var(--light-grey);
	margin-top: 7px;
	margin-bottom: 12px;
}

.description-block {
	margin-top: 8px;
}

/*product-pop-up*/

.product-pop-up {
	position: absolute;
	visibility: hidden;
	/*display: none;*/
	z-index: 2;
	top: 0;
	left: 0;
	text-align: center;
	height: 170px;
	width: 218px;
	background-color: var(--white);
}

.product-item:hover {
	box-shadow: 0 4px 20px 0 var(--black-shadow);
}

.product-item:hover .product-pop-up{
	visibility: visible;
	
}

.product-item:focus-within  {
	outline: red;
}
	
.product-item:focus-within .product-pop-up  {
	visibility: visible;

}

.modal-button {
	position: relative;
	width: 135px;
	min-height: 38px;
	overflow: clip;
	border-radius: 2px;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;
	font-family: Cuprum, Arial, sans-serif;
	text-transform: uppercase;
	border: none;
}

.button-buy {
	background: var(--basic-green) url("../img/basket-icon.svg") no-repeat 30px 12px; 
	color: var(--white);
	box-shadow: inset 0px -3px 0px var(--grass);
	margin-top: 30px;
	margin-bottom: 10px;
	padding: 9px 26px 9px 49px;
}


.button-buy:hover,
.button-buy:focus	{
	background-color: var(--salad);
}

.button-buy:active {
	background-color: var(--dirty-grass);
}

.button-bookmarks {
	background-color: var(--white);
	outline: 3px solid var(--basic-green);
	outline-offset: -3px;
	color: var(--basic-cian-blue);
	padding: 11px 20px 9px 20px;
}

.button-bookmarks:hover,
.button-bookmarks:focus {
	outline: 3px solid var(--basic-cian-blue);
}

.button-bookmarks:active {
	outline: 3px solid var(--dark-grey);
	color: var(--dark-grey);
}



/*Список производителей*/

.popular-manufacturers .button {
	margin-right: 19px;
}


.manufacturers-list {
	display: grid;
	grid-template-columns: repeat(4, 220px);
	grid-gap: 20px;
	padding: 0;
	margin-bottom: 50px;
	list-style: none;
}

.manufacturers-item {
	position: relative;
	width: 218px;
	height: 143px;
	border: 1px solid var(--border-grey);
	background-color: rgba(0, 0, 0, 0.0001); 
}

.manufacturers-item a {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	width: 218px;
	height: 143px;
}

.manufacturers-item:hover,
.manufacturers-item:focus {
	box-shadow: 0 4px 20px 0 var(--black-shadow);
}

.manufacturers-item:active {
	opacity: 10%;
}

/*Servises-slider*/

.services-bar {
	background-color: var(--basic-background);
	margin-bottom: 70px;
}

.service-block {
	padding-top: 64px;
}

.service-box {
	position: relative;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 70px;
}

.service-list h3 {
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	color: black;
	margin: 0;
	padding: 0;
	margin-bottom: 30px;

}

.service-block p {
	font-family: "PT Sans", Arial, sans-serif;
	color: var(--black);
}

.service-controls {
	position: relative;
	width: 240px;
	height: 61px;
	text-align: left;
	
}

.service-controls::after {
	content: "";
	position: absolute;
	width: 10px;
	height: 279px;
	left: 230px;
	top: -40px;
	background-image: url("../img/line.png");
}

.service-control {
	width: 240px;
	height: 61px;
	font-size: 21px;
	line-height: 30px;
	text-align: left;
	font-family: Cuprum, Arial, sans-serif;
	padding-left: 22px;
	background: var(--basic-cian-blue);
	box-shadow: 0px 1px 0px #293449, inset 0px 1px 0px #405069;
	border: none;
	color: var(--white);
}

.service-cotrol:not(:last-child) {
	margin-bottom: 0;
}

.service-control:hover,
.service-control:focus {
	background-color: var(--dark-cyan-blue);
	outline: none;
}


.service-control:active, 
.service-current {
	background-color: var(--white);
	color: var(--basic-cian-blue);
	box-shadow: none;
}



.service-list {
	width: 619px;
	height: 283px;
	list-style: none;
	margin: 0;
	padding: 0;
}

.slide-service {
	width: 619px;
	height: 283px;
	position: absolute;
	display: none;
}

.slide-current {
	display: block;
}

.slide-delivery {
	background: url(../img/delivery-background.png) no-repeat right bottom; 
}

.slide-credit .red-button {
	width: 220px;
}


/*Company-information section*/


.company-information  {
	position: relative;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: auto;
	font-family: "PT Sans", Arial, sans-serif;
	padding-bottom: 70px;

}

.company-information h2 {
	margin: 0;
	padding: 0;
	font-family: Cuprum, Arial, sans-serif;
	margin-bottom: 24px;
}


.promo-text p {
	margin: 0;
	padding: 0;
}

.promo-text {
	width: 460px;
	min-height: 147px;
	display: flex;
	align-items: space-between;
	flex-wrap: wrap;
	
}

.contact-company p {
	margin-bottom: 32px;
}

.transport-list {
	font-family: Cuprum, Arial, sans-serif;
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
	margin-bottom: 20px;
}
 
.transport-list li {
	font-size: 18px;
	line-height: 24px;
	margin-left: 37px;
}

.transport-icon:not(:last-of-type) {
	margin-bottom: 12px;
}

.transport-list li::before {
  content: "";
  position: absolute;
  left: 0px;
  margin-top: 12px;
  width: 25px;
  height: 2px;
  background-color: var(--basic-red);
  border: none;
}

.contact-company  img {
	margin-bottom: 20px;
}

.about-company .red-button {
	width: 220px;
}

.contact-company .red-button {
	width: 300px;

}




/*Footer*/

.main-footer {
	color: var(--white);
	background-color: var(--basic-cian-blue);
	min-height: 300px;

}

/*top-footer*/

.top-footer-bar {
	background-color: var(---basic-cian-blue);
	min-height: 193px;

}

.top-footer {
	/*display: grid;
	grid-template-columns: 1fr 1fr;*/
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	background-color: var(--basic-cian-blue);
	font-size: 18px;
	line-height: 24px;
	font-style: normal;
}


.top-footer-left {
	max-width: 380px;
	overflow-wrap: break-word;
}

.footer-logo {
	height: 68px;
	margin-bottom: 22px;
}

.footer-logo img {
	padding: 20px 41px 25px 41px;
}
  
.contacts-footer {
	width: 321px;
	font-weight: 400;
	padding: 0;
	margin: 0;
	margin-left: 2px;
}


.navigation-footer-list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	list-style: none; 
	max-width: 560px;
	margin: 0 ;
	padding: auto;
}

.white-list {
	margin-top: 37px;
	margin-bottom: 34px;
	margin-right: 0px;
}

.yellow-list { 
	width: 527px;
	margin-right: 0;
	margin-left: 25px;
	margin-bottom: 74px;
}

.yellow-link {
	color: var(--special-light-yellow);
}

.white-list a:hover,
.white-list a:focus,
.yellow-link:hover,
.yellow-link:focus {
	text-decoration: underline;
}

.navigation-footer-list a:active {
	opacity: 50%;
	text-decoration: none;
	mix-blend-mode: normal;
}


/*bottom-footer*/


.bottom-footer-bar {
	background-color: var(--extra-dark-cyan-blue); 
	min-height: 107px;
}

.bottom-footer  {
	min-height: 107px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	background-color: var(--extra-dark-cyan-blue);
	font-size: 16px;
	line-height: 18px;
}

.copyright {
	width: 300px;
	margin: 0;
}

.social-list {
	align-self: center;
	max-width: 230px;
	list-style: none;
	margin: 0;
	padding: 0;
	margin-left: 88px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}



.social-list li:not(:last-child) {
	margin-right: 1px;
	margin-bottom: 1px;
}

.social-button {
	align-self: center;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--super-extra-dark-blue);
	width: 44px;
	height: 44px;
	border-radius: 50%;
}

.social-button:hover {
	background-color: red;
}

.other-info {
	display: flex;
	justify-content: start;
	flex-wrap: wrap;
}


.feedback-link p,
.designed-by p {
 	margin: 0;
 	padding: 0;
 }

.designed-by {
 	margin-right: 13px;
 	margin-left: 60px;
}

.feedback-link {
	margin-left: 118px;
}

.feedback-link a:active,
.designed-by a:active {
	color: var(--basic-red);
	text-decoration: none;
}


/********Catalog*****/
.catalog-heading {
	font-size: 30px;
	line-height: 30px;
	width: 940px;
	color: var(--basic-cian-blue);
	text-transform: uppercase;
}

.authorized-user-block {
	width: 299px;
	background-color: var(--white);
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-family: Cuprum, Arial, sans-serif;
	font-size: 21px;
	line-height: 21px;
}

.user-icon:hover path {
	fill: var(--login-grey);
}

.user-icon:active path {
	fill: var(--extra-light-grey);
}
.user-name:active {
	color: var(--extra-light-grey);
}

.user-links {
	width: 210px;
	display: flex;
	justify-content: space-between;
	text-align: center;
	margin-top: 7px;
	margin-left: 45px;
	position: relative;
}

.user-link {
	position: relative;
	font-size: 16px;
	line-height: 18px;
	color: var(--basic-cian-blue);
}	

.user-links::after {
	content: "";
	position: absolute;
	width: 4px;
	height: 4px;
	top: 6px;
	left: 88px;
	border-radius: 50%;
	border: none;
	background-color: var(--basic-cian-blue);
}

.user-link:hover {
	color: var(--basic-red);
}

.user-links:hover::after {
	background: var(--basic-red);
}

.user-link:active {
	color: var(--extra-light-grey);
}

.user-links:active::after {
	background: var(--extra-light-grey);
}



/*GRID for catalog*/

.catalog-container {
	display: grid;
	grid-template-columns: 220px 1fr;
	grid-gap: 20px;
	align-content: start;
}

.current-page-heading {
	grid-column: 1 / -1;
}

.sorter {
	grid-column: 2 / -1;
}

.filter {
 	grid-row: 2 / 6;
 }

 .catalog-list { 
	display: grid;
	grid-gap: 20px;
	grid-template-columns: 220px 220px 220px;
}

.pagination-list {
	grid-column: 2 / -1;
}


/*styles-catalog*/

.catalog-container {

	font-family: "PT Sans", Arial, sans-serif;
	color: var(--black);
}

.container {
	width: 940px;
	margin: 0 auto;
}

.breadcrumbs {
	display: flex;
	flex-direction: start;
	list-style: none;
	font-size: 13px;
	line-height: 18px;
	font-family: "PT Sans", Arial, sans-serif;
	margin: 0;
	padding: 0;
	margin-bottom: 20px;
 }

.breadcrumbs li {
	position: relative;
	margin-right: 42px;
}

.breadcrumbs li::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: none;
  border-top: 1px solid var(--icon-right-grey);
  border-right: 1px solid var(--icon-right-grey);
  top: 7px;
  right: -25px;
  transform: rotate(45deg);
}

.breadcrumbs li:last-child {
  margin-right: 0;
}

.breadcrumbs-current::after {
  display: none;
}

.breadcrumbs a {
	color: var(--basic-black);
	text-transform: uppercase;
}

.catalog-heading {
	background-color: var(--almost-white-grey);
	font-family: Cuprum, Arial, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 30px;
	line-height: 30px;
}

.current-page-heading {
	height: 89px;
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	padding-left: 29px;
}

.row-wrapper {
	text-transform: uppercase;
 	background-color: var(--beige);
 	color: var(--black);
 	min-height: 38px;
}

/*Filter*/

.filter h3,
.sorter h3 {
	font-size: 13px;
 	line-height: 18px;
 	width: 220px;
	padding-left: 20px;
	padding-top: 10px;
	margin: 0;
}

.filter {
	width: 220px;
}

.filter .row-wrapper {
	margin-bottom: 15px;
}

.filter label {
	font-family: "PT Sans", Arial, sans-serif;
	text-transform: uppercase;
	font-size: 15px;
	line-height: 19px;
}

.filter fieldset {
  	margin: 0;
  	padding: 0;
  	border: none;
} 

.filter fieldset:first-child {
  margin-bottom: 16px;
  padding-bottom: 20px;
  padding-top: 10px;
}

.filter fieldset:nth-child(2) {
  margin-bottom: 18px;
 }

.filter fieldset:last-of-type {
	margin-bottom: 17px;
}

.filter ul:first-of-type {
	margin-top: 17px;
	margin-bottom: 27px;
}

.filter-item:not(:last-of-type) {
	margin-bottom: 20px;
}

.filter fieldset:not(:last-of-type) {
	 border-bottom: 1px solid var(--super-extra-light-grey);
}

.filter legend {
	font-size: 17px;
	line-height: 30px;
	font-weight: 700;
	text-transform: uppercase;
}



/***Price-range******/

.range-controls {
	position: relative;
  	height: 41px;
  	margin-bottom: 15px;
  	padding-top: 39px;
  	background-color: var(--beige);
  	border-radius: 5px;
  	padding-right: 20px;
  	padding-left: 20px;
}

.range-controls .scale {
  	height: 2px;
  	background: var(--scale-grey);
}

.range-controls .bar {
	height: 2px;
	background-color: var(--scale-green);
	width: 152px;
}

.range-controls .toggle {
	position: absolute;
	top: 29px;
	left: 0;
  	width: 4px;
 	height: 4px;
 	padding: 0;
  	border: 8px solid var(--white);
  	background-color: var(--toggle-grey);
  	border-radius: 50%;
  	box-shadow: 0 2px 1px 0 #cfcfcf;
  	cursor: pointer;
}

.range-controls .toggle-min {
  	left: 18px;
}

.range-controls .toggle-max {
  	left: 160px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
}

.price-dash {
	text-align: center;
}

.price-dash p {
	margin: 0;
	padding-top: 7px;
}

.price-controls input {
  	font-family: inherit;
  	font-size: inherit;
  	margin: 0;
  	padding: 0;
  	width: 70px; 
  	padding: 10px;
  	background-color: var(--beige);
  	text-align: center;
  	border: none;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
 	-webkit-appearance: none; 
  	 margin: 0; 
}

input[type="number"] {
  	-moz-appearance: textfield;
}
input[type="number"]:hover,
input[type="number"]:focus {
  	-moz-appearance: number-input;
}

/*****filter-manufactures***/


.filter ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.flter-manufacturers input {
	padding: 0;
	margin: 0;
}

.filter-item label{
	 position: relative;
	 display: block;
  	 cursor: pointer;
  	 /*user-select: none;*/
  	 margin-left: 31px;
}

.input-checkbox + .filter-checkbox::before {
  	content: "";
  	position: absolute;
  	left: -31px;
  	top: 0;
  	width: 19px;
   	height: 19px;
  	border: 2px solid var(--extra-light-grey);
  	border-radius: 10%;
}

.input-checkbox:checked + .filter-checkbox::after {
  content: "";
  position: absolute;
  top: 0;
  left: -31px;
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-on.svg");
  background-color: var(--white);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.input-radio + .filter-radio::before {
  content: "";
  position: absolute;
  left: -31px;
  top: -5px;
  width: 18px;
  height: 18px;
  border: 3px solid var(--extra-light-grey);
  border-radius: 50%;
}

.input-radio:checked + .filter-radio::after {
  content: "";
  position: absolute;
  top: 3px;
  left: -23px;
  width: 8px;
  height: 8px;
  background-color: var(--extra-light-grey);
  border-radius: 50%;
}

.filter-input:hover + label,
.filter-input:focus + label {
  color: var(--grass);
}

.button-filter {
	width: 220px;
	height: 38px;
	border: 1px solid var(--super-extra-light-grey);
	background-color: var(--white);
	text-transform: uppercase;
}

/*Sorter*/

.sorter {
	display: flex;
	justify-content: space-between;
	width: 700px;
}

.sort-list  {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	list-style: none;
	padding: 0;
	margin: 0;
	margin-right: 30px;
	width: 350px;
}

.sort-item {
	color: var(--black);
	border-bottom: 1px dashed var(--basic-red);
	opacity: 0.3;
}

.sort-item:hover {
	opacity: 1;
}

.sort-item:active,
.sort-item-current {
	color: var(--basic-red);
	border: none;
	opacity: 1;
}

.sort-price-icon {
	width: 80px;
	display: flex;
	justify-content: center;
	align-items: center;

}

.icon-up svg {
	transform: rotate(180deg);
	margin-right: 21px;
}

.icon-price path:hover {
	fill: var(--black);
}

.icon-price path:active {
	fill: var(--basic-red);
}

.icon-price-current path {
	fill: var(--basic-red);
}



.catalog-list {
	list-style: none;
	margin-top: 8px;
	padding: 0;
}

/* Pagination */

.pagination-list {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	margin-bottom: 46px;
	margin: 0;
	padding: 0;
	line-height: 18px;
	text-transform: uppercase;
}
.pagination-item {
	height: 38px;
}

.pagination-item a {
	display: block;
  	padding: 10px 15px;
  	color: var(--black);
  	text-transform: uppercase;
  	border: 1px solid var(--extra-light-grey);
  	border-radius: 2px;
}

.pagination-item:not(:last-child) {
	margin-right: 10px;
}

.pagination-next a {
	padding: 10px 32px;
}

.pagination-item a:hover,
.pagination-item a:focus {
	border-color: var(--basic-red)
}

.pagination-current a,
.pagination-item a:active  {
  background-color: var(--basic-red);
}

/*Article*/

.blog-bar {
	background-color: var(--basic-color);
}

.blog {
	background-color: var(--basic-background);
	font-family: "PT Sans", Arial, sans-serif;
	padding-bottom: 70px;

}

.blog h2 {
	padding-top: 64px;
}

/*******Modal*********/

/* Modal close */

.modal-close {
  	position: absolute;
  	top: 17px;
  	right: 17px;
  	width: 21px;
  	height: 21px;
  	background-color: transparent;
	border: none;
  	cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  top: 9px;
  right: 0px;
  width: 21px;
  height: 3px;
  background-color: var(--basic-red);
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.modal {
 	position: fixed;
	left: 0;
	top: 120px;
	right: 0;
	bottom: auto;
	margin: auto;
	
 }

/**Modal-feedback**/

.contact-company {
	position: relative;
	background-color: var(--white);
	z-index: 1;
}

.modal-feedback {
	opacity: 0;
	visibility: hidden;
	width: 620px;
	min-height: 453px;
}

.modal-content {
	border-top: 7px solid var(--basic-red);
	background-color: var(--white);
	filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
}

.modal-show {
	opacity: 1;
	visibility: visible;
	animation-name: pop-up;
	animation-duration:  0.5s;
	animation-fill-mode: forwards;
 }

.feedback-form label {
	display: block;
	font-size: 18px;
	font-weight: 400;
	color: var(--basic-black);
}

.feedback-form input[type="text"],
.feedback-form input[type="email"],
.feedback-form textarea {
	font-family: "PT Sans", Arial, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 24px;
	color: #A9A9A9;
	width: 220px;
	min-height: 38px;
	border: 2px solid #C5C5C5;
	box-sizing: border-box;
	border-radius: 2px;
	box-sizing: border-box;
	margin: 0;
	margin-top: 11px;
	padding: 5px 10px;
 }

.feedback-form textarea {
	width: 460px;
}

.user-fields input {
	display: block;
	width: 220px;
	margin-right: 20px;
}

.user-fields label {
	margin-right: 20px;
}

.modal-button-block {
	width: 620px;
	height: 112px;
	padding-bottom: 0;
	margin-top: 37px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--smoke-white);
}

.feedback-button {
	width: 460px;
}

.user-fields {
	display: flex;
	flex-wrap: wrap;
	margin-top: 46px;
	margin-left: 81px;
}

.feedback-field {
	margin-left: 80px;
}

/*****Modal-map****/

.modal-map {
	z-index: 10000;
	border-top: 7px solid var(--basic-red);
	display: none;
	width: 943px;
	height: 442px;

}

.modal-map image {
	display: block;
}

.modal-map iframe {
  border: none;
}

.modal-show-map {
	display: block;
}


/***modal-order***/

.modal-order {
	display: none;
	z-index: 10000;
	width: 620px;
	min-height: 275px;
	background-color: var(--white);
	text-align: center;
	border-top: 7px solid var(--basic-red);
}

.message-block {
	width: 100%;
	height: 163px;
}

.message-block h3 {
	font-size: 24px;
	line-height: 30px;
	padding: 0;
	margin: 0;
	padding-top: 66px;	
}

.message-block h3::before {
	content: "";
	position: absolute;
	width: 66px;
	height: 66px;
	background-image: url("../img/icon-mark.png");
	left: 81px;
	top: 48px;
}

.further-actions {
	width: 620px;
	height: 112px; 
	background-color: var(--sea-shell);
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.further-actions:focus-within  {
	outline: none;
}

.shopping-button {
	width: 192px;
	height: 38px;
	
}

.shopping-button:not(:last-of-type),
.continue-button:not(:last-of-type) {
	margin-right: 10px;
}

.shopping-button a{
 	padding: 11px 9px 9px 9px;
}


.continue-button {
	width: 192px;
	height: 38px;
	color: var(--black);
	background-color: var(--white);
}

.continue-button a{
 	padding: 11px 9px 9px 9px;
}


.full-item {
	background-color: var(--basic-red);
}

.modal-show-order {
	display: block;
}

.modal-order-background {
	background-color: var(--basic-red);
}

/* Animations */

@keyframes pop-up {
 
0% {transform: translateX(1000px);}
10% {transform: translate(600px);}
20% {transform:translateX(600px);}
30% {transform: translateX(400);}
40% {transform: translateX(298px)}
50% {transform:translateX(298px);}
60% {transform:translateX(1px);}
70% {transform:translateX(-200px); }
80% {transform:translateX(-400px);}
90% {transform: translateX(-200px);}
100% {z-index: 10000;}
}

 


