/*Fonts*/
 /*@font-face {
	font-family:"PT Sans ";
	font-style:
	font-weight;
	src: local("PT Sans"),
	url ()
	font-dispay:
	;*/


:root {
	--basic-red: #ee3643;
	--basic-green: #63a63e;
	--basic-cian-blue: #32425C;
	--black: #000000;
	--white: #ffffff;
	--special-yellow: #ffbf47;
	--special-blue: #3bbce3;
	--special-lilac: #dc91d8 ;
	--special-lightgreen: #8ed78f;
	--special-red: #bA2732;
	--dark-cyan-blue: #293449;
	--border-grey: #eaeaea;
	--background-linen: #f9f5f0;
	--light-grey: #a9a9a9;
	--extra-light-grey: #c5c5c5;
	--super-extra-light-grey: #e5e5e5;
	--basic-background: #f1f5f7;
	--dark-grey: #888888;
	--special-light-yellow: #ffd180;
	--extra-dark-cyan-blue: #293449;
	--slider-background: rgba(0, 0, 0, 0.0001);
	--logo-shadow-red: rgba(0, 0, 0, 0.24);
	--beige: #f7f3ec;
	--super-extra-dark-blue: #212a3a;
	/*f2f6f8*/
	/*#ABABAB*/
}
body,
html {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: Cuprum, Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400px;
  font-style: normal;
  color: var(--black);
  background-color: var(--white);
  background-position: top center;
  background-repeat: no-repeat;
}

a {
	text-decoration: none;
	color: var(--white);
}

img {
  max-width: 100%;
  height: auto;
}

/*Grid*/

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content; /*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&7*/
  align-content: start;
}

/*Styles*/

/*Кнопки*/

.button {
	font-family: Cuprum, Arial, sans-serif;
	font-size: 14px;
	line-height: 18px;
 	text-align: center;
  	vertical-align: middle;
  	text-transform: uppercase;
  	color: var(--white);
  	border: none;
}

.red-button {
	background-color: var(--basic-red);
}

.red-button:hover { 
	background-color: var(--special-red);

}
 /*Заголовки*/ 


 .section-heading {
 	font-family: inherit;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
}

.visually-hidden {
	visibility: hidden;
}


 /*Header*/

.main-header {
	display: grid;
	grid-template-rows: min-content 1fr min-content;  /*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/
	padding-bottom: 60px;
  	outline: 5px solid rgba(0, 255, 0, 0.7);
  	outline-offset: -5px;
	font-size: 18px;
	font-weight: normal;
	background-color: var(--basic-background);
}


.top-header-bar {
  background-color: var(--extra-dark-cyan-blue);
}

.top-header-block {
	display: grid;

	width: 940px;
	margin: 0 auto;
	background-color: var(--extra-dark-cyan-blue);
	color: white;
}

.logo-wrapper {
	width: 220px;
	text-align: center;
	background-color: var(--basic-red);
	box-shadow: inset 0px -5px 0px var(--logo-shadow-red);
}
 

.header-search {
	/*width: 271px;
	height: 42px;
	background: var(--extra-dark-cyan-blue) url("../img/icon-search.png") no-repeat 17px 13px;
	padding-left: 42px;
	border: none;*/
	font-size: 18px;
	color: var(--white);
}

.order-list {
	list-style: none;
	margin: 0;
}

.order-item {
	/*display: inline-block;
	text-align: center;
	vertical-align: middle;
	width: 150px;
	height: 42px;
	border: none*/
}

/*:before*/
.bookmarks {
	/*background: url("../img/bookmarks-icon.png") no-repeat 20px center;*/
}

.basket {
	/*background: url("../img/basket-icon.png") no-repeat 20px center;*/
}

.order-button {
	/*background-color: var(--basic-green);*/
}

.user-account {
	background-color: var(--white);
	/*padding-top: 12px;*/
}

/*.user-login:after {
	content:"";
	display: "block";
	width: 14,17px;
	height: 17px;
	position: absolute;
	background-image: white url("../img/icon-login.png") no-repeat 14px center;*/
}

.middle-bottom-header-bar {
	background-color: var(--basic-background);
}

.middle-header-block {
	width: 940px;
	margin: 0 auto;
}

.header-heading {
	/*width: 197px;*/
	font-size: 16px;
	font-weight: normal;
	font-style: italic;
	color: var(--basic-red);
	line-height: 23px; 
}

.phone-number {
	/*width: 270px;*/
	font-weight: bold;
	font-size: 21px;
	line-height: 30px;
	color: var(--basic-red);
	text-align: center;
	background: inherit; /*url*/
	/*border: 3px solid var(--white);*/
}

.adress {
	/*width: 250px;*/
	font-size: 14px;
	line-height: 24px;
	color: var(--basic-cian-blue);
	text-align: center;
}

/*.user-block {
	display: flex;
	justify-content: 
}
*/

.user-account {
	background-color: var(--white); /*user-login url no repeat */
	color: var(--black);
	font-size: 21px;
	line-height: 21px;
}

.main-navigation-bar {
	background-color: var(--basic-background)
}


.main-navigation {
	width: 940px;
	margin: 0 auto;
	background: var(--basic-cian-blue);
	box-shadow: inset 0px -5px 0px #293449; /*************/
	line-height: 24px;
 	outline: 5px solid rgba(0, 255, 255, 0.3);
 	outline-offset: -5px;
 }

.navigation-list {
  list-style: none;
  margin: 0;
  padding: 0;
}


/*MAIN*/

/*.container {
 	width: 940px;
  	margin: 0 auto;
  	padding: 0 10px;
}*/


/*Промо*/

.promo-list {
	display: grid;
	grid-template-columns: 300px 300px 300px;
	grid-template-rows: 123px 123px 123px;
	grid-gap: 20px;
	width: 940px;
	list-style: none;
  	margin: 0 auto;
  	padding:0;
  	margin-bottom: 60px;
	color: var(--white);
  	width: 940px;
}

.promo-box {
	width: 300px;
	height: 123px;
	font-size: 24px;
	font-weight: bold;
	line-height: 30px;
}


.transparent-button a {
	width: 135px;
	height: 38px;
	background-color: var(--white);
	mix-blend-mode: normal;
	opacity: 0.3;
}

/*.transparent-button a:hover { 
	background-color: var(--extra-light-grey);
	opacity: 0.3;
}

.transparent-button a:active {

}*/

.promo-materials {
	background: var(--special-yellow) url("../img/materials-icon.png") no-repeat 213px center;
}

/*new::after {
	
	}*/

.promo-instruments {
	background: var(--special-blue) url("../img/instruments-icon.png") no-repeat 194px center;
}


/*Слайдер */

.slider-list {
	list-style: none;
	margin: 0;
	padding:0;
}

.slider-box {
	/*height: 266px;*/
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 4;
	background-color: var(--light-grey);
}

/*input[type="radio"] {
	visibility: hidden;
}

.slide-list {
	list-style: none;
	width: inherit;
	height: inherit;
	position: relative;
}
*/
.slide-1 {
	width: inherit;
	height: 100%;
	background: var(--light-grey) url("../img/slider-rock-drill.jpg") no-repeat;
}

/*.slide-2 {
	background: var(--light-grey) url() no-repeat;
*/

.slide-heading {
	font-weight: bold;
	font-size: 36px;
	line-height: 36px;
}

.slide p {
	font-weight: normal;
	font-size: 18px;
	line-height: 24px;
}

.promo-technics {
	background: var(--special-lilac) url("../img/technics-icon.png") no-repeat 191px center;
}


.promo-discounts {
	grid-column: 3;
	grid-row: 2;
	background: var(--special-lightgreen) url("../img/discounts-icon.png") no-repeat 196px center;
}

.promo-delivery {
	grid-column: 3;
	grid-row: 3; 
	background: var(--special-yellow) url("../img/delivery-icon.png") no-repeat 191px center;
}


.popular {
	width: 940px;
	margin: 0 auto;
	margin-bottom: 20px;
	height: 89px;
	background-color: var(--background-linen);
}

/*.popular h2 {
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 30px;
}
*/

/*Карточки популярные товары*/



.product-list {                  
	display: grid;
  	grid-template-columns: 220px 220px 220px 220px;
  	column-gap: 20px;
  	width: 940px;
	margin: 0 auto;
  	padding: 0;
  	list-style: none;
}

.product-item {
	width: 220px;
	height: 318px;
	background-color: inherit;
	text-align: center;
	border: 1px solid var(--border-grey);
}

.description-block p {
	font-family: "PT Sans", Arial, sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 20px;
}

.image-block {
	
}


/*Список производителей*/

.manufacturers-list {
	display: grid;
	grid-template-columns: repeat(4, 220px);
	width: 940px;
	margin:  auto;
	padding: 0;
	margin-bottom: 70px;
	grid-gap: 20px;
	list-style: none;
}

.manufacturers-item {
	width: 220px;
	height: 145px;
	border: 1px solid var(--border-grey);
	text-align: center;
	background-color: rgba(0, 0, 0, 0.0001); /*в  кастомные свойства*/
}

.manufacturers-item:hover {
	background-color: var(--white);
	border: none;
}

/*Servises*/

.services-bar {
	background-color: var(--basic-background);
}

.services {
	width: 940px;
	margin: 0 auto;
	background-color: var(--basic-background);
}

/*.services h2 {
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	color: black;
}*/

.services p {
	font-family: "PT Sans", Arial, sans-serif;
	color: black;
}

.service-name label {
	width: 240px;
	height: 61px;
	font-size: 21px;
	background: var(--basic-cian-blue);
	box-shadow: 0px 1px 0px #293449, inset 0px 1px 0px #405069;line-height: 30px;
	color: white;
}

.service-click h3 {
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	color: var(--basic-cian-blue);
}


/*Company-information section*/

.company-information  {
	display: grid;
	grid-template-columns: 1fr 1fr;
	width: 940px;
	margin: auto;
	font-family: "PT Sans", Arial, sans-serif;
	padding-bottom: 70px;
}

 
.transport-partners-list li {

	font-size: 18px;
	line-height: 24px;
	font-weight: normal;
}

.contact-company {
	justify-self: end;
}


/*Footer*/

.main-footer {
	min-height: 300px;
	color: var(--white);
	background-color: var(--basic-cian-blue);
}

/top-footer/

.top-footer-bar {
	background-color: var(---basic-cian-blue);
}
.top-footer {
	width: 940px;
	margin: 0 auto;
	background-color: var(--basic-cian-blue);
	font-size: 18px;
	line-height: 24px;

}

.navigation-footer-list{
	list-style: none;
}

.yellow-link {
	color: var(--special-light-yellow);
}

/*bottom-footer*/


.bottom-footer-bar {
	background-color: var(--extra-dark-cyan-blue); 
}

.bottom-footer {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	width: 940px;
	margin: 0 auto;
	background-color: var(--extra-dark-cyan-blue);
	font-size: 18px;
	line-height: 24px;
}


.copyright {
	width: 230px;
	margin: 0;
	font-size: 16px;
	line-height: 18px;
}

.social-list li {
  list-style: none;
  margin: 0;
 }

 .feedback-link p,
 .designed-by p {
 	margin-bottom: 0;
 
 }

/* Social button */

.social-list{
	list-style: none;
	margin: 0;
	padding: center;
}

/*.social-button {

	text-align: center;
	background-color: var(--super-extra-dark-blue);
	background-position: center;
	display: block;
	width: 44px;
	height: 44px;
	border-radius: 50%;
}

.social-button:hover {
	background-color: red;

}*/


/*Каталог*/

.user-link {
	font-size: 16px;
	line-height: 18px;
	text-align: center;
	color: var(--basic-cian-blue);
}


.user-link a:hover {
	color: var(--basic-red);
}


/* Breadcrumbs */
.breadcrumbs {
  list-style: none;
}

.breadcrumbs a {
  color: var(--basic-black);
}

.current a:not([href]) {
  background-color: var(--basic-black);*/
}

 .row-wrapper {
 	font-family: "PT Sans", Arial, sans-serif;
 	font-size: 13px;
 	line-height: 18px;
 	text-transform: uppercase;
 	background-color: var(--beige);

}




/*Filter*/

.filter-wrapper {
	font-family: "PT Sans", Arial, sans-serif;
	text-transform: uppercase;
	font-size: 15px;
	line-height: 19px;
}

.form-heading {
	font-size: 17px;
	line-height: 30px;
	font-weight: 700;
}

.range-text {
	background-color: var(--beige);
}

.button-filter {
	border: 1px solid var(--super-extra-light-grey);
	background-color: var(--white);
}

.power-supply-list {
	list-style: none;
}


/*Sorter*/

.sort-list {
	list-style: none;
}

.sort-item {
	color: var(--black);
	border-bottom: 1px solid var(--basic-red);
}

/*.sort-item a:hover*/

/* Pagination */

.pagination-list {
  list-style: none;
}

.pagination-item a {
  color: var(--black);
  background-color: var(--basic-white);
  border: 1px solid var(--extra-light-grey);
 }

.pagination-item a:focus {
	border-color: var(--basic-red)
}

/*.pagination-current {
  background-color: var(--basic-red);
}*/

/*Article*/

.articles {
	background-color: var(--basic-background);
	font-family: "PT Sans", Arial, sans-serif;
}

/*Modal*/
.modal-feedback{
	/*visibility: hidden;
	width: 620px;
	height: 430px;*/
}
.modal-feedback label {
	font-size: 18px;
	line-height: 24px;
}

.feedback-field {
	width: 220px;
	height: 38px;
	font-family: "PT Sans", Arial, sans-serif;
}












